@import "tailwindcss";

@theme {
  /* Colors */
  --color-primary: hsl(var(--primary));
  --color-secondary: hsl(var(--secondary));
  --color-accent: hsl(var(--accent));

  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));

  --color-success: hsl(var(--success));
  --color-error: hsl(var(--error));
  --color-warning: hsl(var(--warning));

  /* Border Radius */
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  /* Font Family */
  --font-family-mono: var(--font-geist-mono);
  --font-family-sans: var(--font-geist-sans);

  /* Animations */
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
}

/* Keyframes */
@keyframes accordion-down {
  from { height: 0; }
  to { height: var(--radix-accordion-content-height); }
}

@keyframes accordion-up {
  from { height: var(--radix-accordion-content-height); }
  to { height: 0; }
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: unset;
    font-weight: unset;
  }
}
